body 
{
	background: url("nube1.jpg") 100%;
	font-family: verdana;
	font-size: 16px;
	text-align: center;
}
header
{
	background: url("logo.gif") no-repeat center;
	/*-size: 800px, 100px 100px;
	box-shadow: rgba(0,0,0,0.7) 0px 5px 10px;*/
	margin: 0 0 1em 0;
	padding: 4em 0;
	width: 100%;
}

h1
{
	font-size: 2em;
	/*margin: 6em 0 0 0;*/
	text-shadow: rgba(0,0,0,0.7) 5px 5px 10px;
}

h2
{
	font-size: 1.2em;
	font-weight: normal;
	text-align: left;
	padding: 1em 0;
	margin:0;
}

p
{
	font-weight: normal;
	font-family: verdana;
	padding: 0.5em;
	text-align: justify;
	margin:0;
}

nav
{
	/*background: rgba(60, 60, 180, 0.8);*/
	bottom: 0;
	left: 0;
	/*position: fixed;*/
	width: 100%;
}
nav ul
{
	list-style: none;
}
nav ul li
{
	display: inline-block;
}
nav ul li a
{
	background: #2E9AFE;
	border-radius: 0.5em;
	color: #8A0808;
	display: inline-block;
	font-size: 1em;
	font-weight:bold;
	margin: 2em 0 0 0;
	padding: 0.5em 1em;
	text-decoration: none;
	transition: all 1s ease;
}
nav ul li a:hover
{
	background: white;
	color: black;
	transform: scale(1.2);
}

#principal
{
	/*background: white;*/
	color: #222;
	font-size: 0.8em;
	margin: 0 0 0 2em;
	text-align: justify;
	text-shadow: rgba(0,0,0,0.7) 5px 5px 10px;
	width: 45%;
}
#principal img
{
	width: 100%;
}
#principal figcaption
{
	margin: 1em;
}
#logoLateral
{
	margin: 0 2em 0 1em;
	text-align: left;
	width: 17%;
}
#logoLateral img
{
	margin: 0 auto;
	width: 100%;

}

#principal, #logoLateral, #ffmm, #secundario, #item, #item2, #politicas
{
	display: inline-block;
	vertical-align: top;

}

#ffmm
{
	margin: 0 2em 0 4em;
	padding: 1em;
	background: rgba(255,255,255,0.6);
	border-radius: 0.5em;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
	font-family:Arial;
	text-align: left;
	width: 20%;
}

#ffmm h1
{
	color: #8A0808;
	font-size: 1.5em;
	margin: 0 0 1em 0;
	text-align: center;
	text-shadow: rgba(0,0,0,0.7) 5px 5px 10px;
}

#personalizacion
{
	background: rgba(0,0,0,0.8);
	border-radius: 0.5em;
	box-shadow: rgba(255,255,255,0.5) 5px 5px 10px inset;
	display: inline-block;
	height: 0;
	margin: 0 0 6em 2%;
	opacity: 0;
	overflow: hidden;
	padding: 1em 1em 0;
	transition: all 1s ease;
	vertical-align: top;
	width: 0;
}
#personalizacion article
{
	background: rgba(255,255,255,0.9);
	border-radius: 0.5em;
	color: #333;
	margin: 0 0 1em 0;
	padding: 0.5em;
}
#personalizacion h2
{
	margin-top: 0;
}
#personalizacion #color div
{
	border: 3px solid #ccc;
	cursor: pointer;
	display: inline-block;
	height: 3em;
	margin: 0.5em 1%;
	opacity: 0.7;
	transition: all 0.5s ease;
	vertical-align: top;
	width: 27%;
}
#personalizacion #color div:hover
{
	border: 4px solid black;
	opacity: 1;
	transform: scale(1.1);
}
#personalizacion #color #amarillo
{
	background: #EEA024;
}
#personalizacion #color #azul
{
	background: #166CEB;
}
#personalizacion #color #blanco
{
	background: #DCDCDC;
}
#personalizacion #color #negro
{
	background: #121212;
}
#personalizacion #color #rojo
{
	background: #9F001C;
}
#personalizacion #color #verde
{
	background: #6CB944;
}
#personalizacion #llantas figure,
#personalizacion #techo figure
{
	box-shadow: rgba(0,0,0,0.2) 0px 0px 1em;
	cursor: pointer;
	display: inline-block;
	margin: 0 2% 1em;
	padding: 1%;
	vertical-align: top;
	width: 40%;
}
#personalizacion #llantas figure:hover img
{
	transform: rotate(360deg);
}

#personalizacion #llantas figure img,
#personalizacion #techo figure img
{
	transition: all 1s ease;
	max-width: 100%;
}

#ffmm form {
    /*margin:0 auto;*/
    width:100%;
}

#ffmm label {
	color: #0080FF;
    display:block;
    font-size: 0.8em;
    font-family: verdana;
    margin-top:0.5em;
    letter-spacing:1px;
    width:95%;
}
 
#ffmm input, textarea {
    /*background:#FBFBEF;*/
    border:2px solid #0080FF;
    border-radius: 0.5em;
    height:0.8em;
    padding:0.3em;
    margin-top:5px;
	font-family: verdana;
    font-size: 0.8em;
    color:#151515;
    width:95%;
}
 
#ffmm textarea {
    height:10em;
    width:95%;
}
 
#ffmm #submit {
	background-color: #2E9AFE;
    border:2px solid #0080FF;
    cursor:pointer;
    font-weight:bold;
    height:2em;
    margin: 1em 35%;
    width:25%;
}

#ffmm #submit:hover {
	color: #FFFFFF;
	transform: scale(1.3);
}

#temas
{
	margin: 0 2em 0 4em;
	padding: 1em;
	background: rgba(255,255,255,0.2);
	border-radius: 0.5em;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
}

#temas h2
{
	color: #8A0808;
	font-size: 1.5em;
	margin: 0 0 1em 0;
	text-align: left;
	text-shadow: rgba(0,0,0,0.7) 5px 5px 10px;
}

#secundario
{
	color: #222;
	font-size: 0.8em;
	margin: 0 2em 0 0;
	text-align: justify;
	text-shadow: rgba(0,0,0,0.7) 5px 5px 10px;
	width: 40%;
}

#secundario img
{
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
	border-radius: 1em;
	width: 100%;
}

/*#secundario figcaption
{
	background-color: white;
	
}*/
#servicios h2
{
	/*color: #8A0808;*/
	font-weight: bold;
	font-size: 1.5em;
	margin: 0 0 1em 0;
	text-align: center;
	text-shadow: rgba(0,0,0,0.7) 5px 5px 10px;
}

#servicios h3
{
	color: #8A0808;
	font-size: 1em;
	margin: 0 0 1em 0;
	text-align: center;
	text-shadow: rgba(0,0,0,0.7) 5px 5px 10px;
}

#item
{
	color: #222;
	font-size: 0.8em;
	margin: 0 2em 0 0;
	/*text-align: justify;
	text-shadow: rgba(0,0,0,0.7) 5px 5px 10px;*/
	width: 10%;
}

#item img
{
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
	border-radius: 1em;
	width: 100%;
}

#item2
{
	color: #222;
	font-size: 0.8em;
	margin: 2em 2em 0 0;
	/*text-align: justify;
	text-shadow: rgba(0,0,0,0.7) 5px 5px 10px;*/
	width: 10%;
}

#item2 img
{
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
	border-radius: 1em;
	width: 100%;
}

#politicas
{
	/*margin: 0 2em 0 4em;*/
	padding: 1em;
	background: rgba(255,255,255,0.3);
	border-radius: 0.5em;
	box-shadow: rgba(0,0,0,0.5) 5px 5px 10px;
	width: 80%;
}